html, body {
  height: 100%;
}

.tooltipsy {
  padding: 5px;
  max-width: 200px;
  color: #eee;
  background-color: rgba(0,0,0,0.75);
  border-radius: 3px;
}

.browse-container {
  float: left;
  font-size: 1.2em;
}

.browse-container a {
  padding: 10px;
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #EC6A36;
  margin-left: 3em;
  color: #fcfcfc;
}

.browse-container a:hover {
  text-decoration: none;
  background-color: #A5360F;

}

.extra-data-wrapper {
  float:left;
  color: #d9d9d9;
  font-size: 90%;
}

#client-server {
  height: calc(100% - 40px);
  height: -moz-calc(100% - 40px);
  height: -webkit-calc(100% - 40px);
}

#client-server-collection-view {
  height: 100%;
}

#database-view {
  padding-top: 40px;
}

#database-view .query-editor {
  height: 400px;
}

#database-view .span6 {
  padding: 10px;
}

.function-signature,
.function-signature input {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.function-signature {
  width: calc(100% - 214px);
  width: -moz-calc(100% - 214px);
  width: -webkit-calc(100% - 214px);
  word-wrap: break-word;
}

.route-path {
  margin: 8px 0px 24px 0px;
}

.route-help {
  line-height: 12px;
  font-size: 11px;
}

.route-help ul li:before{
  content:"-";
  position:relative;
  left:-5px;
}

.route-help ul li {
  text-indent:5px;
}

.route-path .help {
  color: #666;
  font-style: italic;
  font-size: 13px;
}

#save-notification-container {
  height: 24px;
  display: block;
  width: 100%;
  margin-top: 40px;
}

#save-notification {
  height: 24px;
  display: none;
  position: fixed;
  width: 80%;
  margin-top: 40px;
  margin-left: -40%;
  left: 50%;
  /*background: #FCEFD4;*/
  text-align: center;
  /*border: 1px solid #FAE1C6;*/
  background-color: #E7B8D1;
    border: 1px solid #DE9ECB;
    color: #772953;
  border-radius: 0px 0px 10px 10px;
  z-index: 5;
}
#save-notification a {
  font-weight:bold;
  color: #772953;
}
#server-id-message {
  margin: 50px 10px 10px 10px;
  text-align: center;
}

#server-id-message .message {
  padding-top: 40px;
  font-size: 24px;
  line-height: 60px;
  font-weight: bold;
}

#server-id-message .sad-face {
  color: #EFEFEF;
  font-size: 280px;
  line-height: 280px;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.main-pane {
  padding-top: 10px;
  margin-left: 300px;
  width: calc(100% - 310px);
  width: -moz-calc(100% - 310px);
  width: -webkit-calc(100% - 310px);
  height: calc(100% - 84px);
  height: -moz-calc(100% - 84px);
  height: -webkit-calc(100% - 84px);
  position: fixed;
  z-index: 1;
}

.left-sidebar {
  padding-top: 10px;
  height: 100%;
  margin-left: 10px;
  width: 280px;
  float: left;
}

.file-list-container {
  margin-top: 0px;
}

#file-view-container {
  height: 100%;
  width: 100%;
}

#route-view-container .code-container {
  height: calc(100% - 210px);
  height: -moz-calc(100% - 210px);
  height: -webkit-calc(100% - 210px);
}

#route-view-container .code {
  height: 100%;
}

#route-view-container .function {
  height: calc(100% - 58px);
  height: -moz-calc(100% - 58px);
  height: -webkit-calc(100% - 58px);
  overflow-y: auto;
}

.error-message-container {
  margin-bottom: 10px;
}

.file-drop-inner {
  display: none;
  height: 400px;
  width: 100%;
  display: table;
}

.file-drop-inner h3 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#file-view-container > div,
#file-view-container .row-fluid,
#file-view-container .file-contents {
  height: 100%;
}

#route-view-container,
#route-view-container > div {
  height: 100%;
}

.subnav {
  margin-bottom: 20px;
  width: 100%;
  height: 36px;
  background-color: rgb(238, 238, 238);
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(center top , rgb(245, 245, 245) 0%, rgb(238, 238, 238) 100%);
  background-image: -webkit-linear-gradient(center top , rgb(245, 245, 245) 0%, rgb(238, 238, 238) 100%);
  border: 1px solid rgb(229, 229, 229);
  border-radius: 4px 4px 4px 4px;
}

.subnav .nav {
  margin-bottom: 0px;
}

.subnav .nav > .active > a, .subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: rgb(119, 119, 119);
  background-color: rgb(233, 233, 233);
  border-right-color: rgb(221, 221, 221);
  border-left: 0px none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05) inset;
}

.subnav .nav > li > a {
  margin: 0px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-left: 1px solid rgb(245, 245, 245);
  border-right: 1px solid rgb(229, 229, 229);
  border-radius: 0px 0px 0px 0px;
}

.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
  border-left: 0px none;
  padding-left: 12px;
  border-radius: 4px 0px 0px 4px;
}

.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
  border-radius: 0px 0px 0px 0px;
}
