<div id="client-server-collection-view">
  <div id="save-notification-container">
    <div id="save-notification">
      <p>
        <a href="#" class="save-changes">Click here</a> (or Ctrl-S) for your changes to go live.
      </p>
    </div>
  </div>


  <div class="left-sidebar">

    <div class="action-buttons">
      <ul class="nav nav-tabs nav-stacked">

        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Create <b class="caret"></b>
        </a>
        <ul class="dropdown-menu create-menu">
          <li class="dynamic"><a href="#">Dynamic Path</a></li>
          <li class="template"><a href="#">Template</a></li>
          <li class="divider"></li>
          <li class="html"><a href="#">HTML</a></li>
          <li class="css"><a href="#">CSS</a></li>
          <li class="js"><a href="#">JS</a></li>
        </ul>
        </li>

        <li class="upload-files"><a href="#">Upload Files</a></li>

        <li class="clear-all"><a href="#">Clear All</a></li>

      </ul>
    </div>

    <div class="file-list-container well" style="padding: 8px 0;">
    </div>

  </div>

  <div class="main-pane">
    <div id="file-view-container"> </div>

    <div id="route-view-container"> </div>

    <div class="file-drop well well-large">
      <div class="file-drop-inner">
        <h3>Drop files here <small>(or build your site in-browser via 'Create' in the sidebar)</small></h3>

      </div>
    </div>
  </div>

</div>

