<div id="save-notification">
  <p>
    <a href="#" class="save-changes">Click here</a> for your changes to go live.
  </p>
</div>

<div id="client-server-collection-view">
  <div class="left-sidebar-container">
    <div class="left-sidebar">

      <ul class="nav nav-tabs nav-stacked">

        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Create <b class="caret"></b>
        </a>
        <ul class="dropdown-menu create-menu">
          <li class="html"><a href="#">HTML</a></li>
          <li class="css"><a href="#">CSS</a></li>
          <li class="js"><a href="#">JS</a></li>
          <li class="divider"></li>
          <li class="dynamic"><a href="#">Dynamic Path</a></li>
          <li class="template"><a href="#">Template</a></li>
        </ul>
        </li>

        <li class="upload-files"><a href="#">Upload Files</a></li>

      </ul>

      <div class="well" style="padding: 8px 0;">
        <ul class="file-list required nav nav-list">
          <li class="nav-header">Required Files</li>
        </ul>

        <ul class="nav nav-list">
          <li class="divider"></li>
        </ul>

        <ul class="file-list html nav nav-list">
          <li class="nav-header">HTML</li>
        </ul>

        <ul class="file-list css nav nav-list">
          <li class="nav-header">CSS</li>
        </ul>

        <ul class="file-list js nav nav-list">
          <li class="nav-header">JS</li>
        </ul>

        <ul class="file-list img nav nav-list">
          <li class="nav-header">Images</li>
        </ul>

        <ul class="nav nav-list">
          <li class="divider"></li>
        </ul>

        <ul class="file-list dynamic nav nav-list">
          <li class="nav-header">Dynamic Files</li>
        </ul>

      </div>

    </div>
  </div>

  <div class="main-pane">
    <div id="file-view-container"> </div>

    <div id="route-view-container"> </div>

    <div class="file-drop well well-large">
      <div class="file-drop-inner">
        <h3>Drop files here</h3>
      </div>
    </div>
  </div>

</div>

