<ul class="file-list required nav nav-list">
  <li class="nav-header">Required Files</li>
</ul>

<ul class="nav nav-list">
  <li class="divider"></li>
</ul>

<ul class="file-list html nav nav-list">
  <li class="nav-header">HTML</li>
</ul>

<ul class="file-list css nav nav-list">
  <li class="nav-header">CSS</li>
</ul>

<ul class="file-list js nav nav-list">
  <li class="nav-header">JS</li>
</ul>

<ul class="file-list img nav nav-list">
  <li class="nav-header">Images</li>
</ul>

<ul class="nav nav-list">
  <li class="divider"></li>
</ul>

<ul class="file-list dynamic nav nav-list">
  <li class="nav-header">Dynamic Files</li>
</ul>

<ul class="file-list template nav nav-list">
  <li class="nav-header">Templates</li>
</ul>

