<li class="dropdown" data-cid="{{cid}}">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    {{#if name}}{{name}}{{else}}(No name yet){{/if}} <b class="caret pull-right" style="display: none;"></b>
  </a>
  <ul class="dropdown-menu" style="display: none;">
    <li class="delete"><a href="#">Delete</a></li>
  </ul>
</li>

