<div id="server-id-message">

  <div class="sad-face">:(</div>

  <div class="message">

    <p>{{message}}</p>

    <p>
      Would you like to try
      <a href="/server/{{alternativeServerID}}">{{alternativeServerID}}</a>
      instead?
    </p>

  </div>
</div>
