<ul class="topbar-buttons nav pull-right">
  <li><a class="edit" href="#">Edit</a></li>
  <li><a class="browse" target="_blank">Browse</a></li>
  <li><a>Help</a></li>
  <li><a>Settings</a></li>
  <li><a class="database" href="#">Database</a></li>
  <li><a class="archive" href="#">Download Website (ZIP)</a></li>
</ul>

