<ul class="topbar-buttons nav pull-right">
  <li><a class="edit" href="#edit">Edit</a></li>
  {{! <li><a>Help</a></li> }}
  {{! <li><a>Settings</a></li> }}
  <li><a class="database" href="#database">Database</a></li>
  <li><a class="archive" href="#">Download as zip</a></li>
</ul>

