<div class="container-fluid">

  <div class="row-fluid">

    <div class="span6">
      <div class="well" style="padding: 9.5px;">
        <div class="query-editor"></div>
        <hr/>
        <button class="run-query btn btn-primary">Run Query</button>
      </div>
    </div>


    <div class="span6">
      <pre><code class="output json">{{json}}</code></pre>
    </div>

  </div>

</div>

